<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="#">Road Anomaly Detection</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/report">Report Anomaly</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/view">View Anomaly Reports</a>
                </li>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </ul>
            {% if request.user.is_authenticated %}
            <div class="profile-name m-2">{{ request.user.name }}</div>
            <div class="dropdown">

                <input type="image" src="/static/download.jpg" class="dropbtn profile" alt="">
                <div class="dropdown-content">
                    <a href="#">profile</a>
                    <a href="#">settings</a>
                    <a href="/auth/logout">logout</a>
                </div>
            </div>
            {% else %}
            <span class="navbar-text">
                <a href="/auth/signin" class="btn">Log In</a>
                <a href="/auth/signup" class="btn">Sign Up</a>
            </span>
            {% endif %}
        </div>
    </div>
</nav>